@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
  --font-primary: 'Lexend', sans-serif;
  --font-secondary: system-ui, -apple-system, sans-serif;
  
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --color-primary: #2563eb;
  --color-primary-light: #3b82f6;
  --color-primary-dark: #1d4ed8;
  
  --color-secondary: #64748b;
  --color-secondary-light: #94a3b8;
  --color-secondary-dark: #475569;
  
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
  --color-info: #3b82f6;
  
}

* {
  font-family: var(--font-primary);
}